.App {
  text-align: center;
}
/* 
 .appStyles  {
  height: 100%;
  display: flex;
  justify-content: center;
  alignItems: center;
  width: 100%;
  minHeight: 100vh;
  font-family: sans-serif;
  overflow: hidden
};

.wrapperStyles { position: relative; width: 250px; height: 250px };
.actionsStyles {
  display: flex;
  justify-content: space-between;
  marginTop: 12
};

.dislike  {
  background-color: 'red';
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  border-radius: 3;
  color:'#ffffff'
};

.like  {
  background-color: 'green';
  padding: 16px 24px;
  cursor: pointer;
  border: none;
  border-radius: 3;
  color:'#ffffff';
}; */